body{
    background-color: #f0f0f0;
}
.loginDiv{
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px #777777;
    display: inline-block;
}
.loginDiv input {
    display: block;
    margin-bottom: 7px;;
}
.loginDiv input[type="email"]{
    border: solid 1px blue;
}
.loginDiv input[type="password"]{
    border: solid 1px red;
}
/*type helyett írhatunk name-t is*/